.text-center{
    text-align: center;
}

.block{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 500px;
    button{
        font-size: 25px;
        border: 2px solid blue;
        border-radius: 6px;
        padding: 24px;
        cursor: pointer;
    }
}