.headerTitle{
    color: purple;
}
.headerSection{
    display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 2px 2px gray;
        ul{
            display: flex;
            align-items: center;
            justify-content:space-between;
            list-style: none;
            gap: 20px;
        }
    }
.mainSection{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    p{
        font-size: 26px;
        color:white;
        font-weight: bold;
        padding: 30px;
        background-color: green;
    }
    button{
        justify-content: center;
    align-items: center;
    padding: 25px;
    border: 2px solid purple;
    color: purple;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    }
    
}

